/* Container for the product list */
body{
    font-family: 'Montserrat', sans-serif;
}
#product-list-display-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Five columns */
  
    
}

/* Individual product container styling */
.product-container {
    max-height: 21rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Product image styling */
.product-container img {
   max-width: 50%; /* Adjusted to ensure images fit within container */
    height: auto; /* Maintain aspect ratio */
    margin-top:12%;
    margin-bottom:2rem;
margin-left:25%;
    object-fit: cover; /* Cover the entire container area without distortion */
}

/* Product name styling */
.name {
    font-size: 0.9rem;
    font-weight: bold;
  margin-top:0.2rem;
    margin-bottom:-0.4rem;
    margin-left:2%;
}

/* Product quantity styling */.quantity {
    font-size: 0.8rem;
   transform:translatey(-50%);
    color: #666;
    margin-left:2%;
   
}

/* Product price styling */
.price {
    font-size: 1rem;
 transform:translatey(-50%);
    color: #333;
   margin-left:2%;
  
}

/* Add to Cart button styling */
.product-container .add-to-cart {
   
    color: white;
    margin-left:5%;
   margin-top:rem;
    margin-bottom:0.8rem;
    min-width:90%;
    height:1.8rem;
   transform:translatey(-20%);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-container .add-to-cart:hover {
    background-color:#faf8f7;
    color:rgb(176, 113, 65);
}
.sortbtn{
    display:flex;
    gap:1%;
    margin:1rem;
}
.sortbtn-main-p{
    margin-top:0.3%;
}
#sort{
    width:10rem;
    height:1.8rem;
    color:brown;
    border: 1px solid brown;
}
/* Base Styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Extra Small Devices (Phones) */
@media (max-width: 575.98px) {
   html, body {
        overflow-x: hidden;
        height: 100%;
        width: 100%;
        margin: 0;
    }
     #product-list-display-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Five columns */
  
    
}
.hamburger{
    display: block;
}

/* Individual product container styling */
.product-container {
    max-height: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
    .product-container img {
   max-width: 50%; /* Adjusted to ensure images fit within container */
  
}
    .name{
        font-size:0.7rem;
    }
    .quantity {
    font-size: 0.8rem;
   transform:translatey(0%);
    color: #666;
    margin-left:2%;
   
}
    .price {
    font-size: 1rem;
 transform:translatey(-0%);
    color: #333;
   margin-left:2%;
  
}
   
}

/* Small Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
 html, body {
        overflow-x: hidden;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    #product-list-display-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Five columns */
  
    
}
.hamburger{
    display: block;
}

/* Individual product container styling */
.product-container {
    max-height: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
    .product-container img {
   max-width: 50%; /* Adjusted to ensure images fit within container */
  
}
    .name{
        font-size:0.7rem;
    }
    .quantity {
    font-size: 0.8rem;
   transform:translatey(50%);
    color: #666;
    margin-left:2%;
   
}
    .price {
    font-size: 0.9rem;
 transform:translatey(10%);
    color: #333;
   margin-left:1%;
  
}
   
}

/* Medium Devices (Tablets and Small Desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
    html, body {
        overflow-x: hidden;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .hamburger{
        display: block;
    }
      #product-list-display-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Five columns */
  
    
}

/* Individual product container styling */
.product-container {
    max-height: 18rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
    .product-container img {
   max-width: 50%; /* Adjusted to ensure images fit within container */
  
}
    .name{
        font-size:0.8rem;
    }
    .quantity {
    font-size: 0.8rem;
   transform:translatey(0%);
    color: #666;
    margin-left:2%;
   
}
.hamburger{
    display: block;
}
    .price {
    font-size: 1rem;
 transform:translatey(-0%);
 font-weight:550;
   margin-left:2%;
  
}
 
/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  